<table class="data-grid">
    <tr class="data-grid-header">
        @for (headerElement of inputHeaderConfig; track headerElement) {
        <td>{{headerElement.column}}</td>
        }
    </tr>

    @if (!inputDataSource?.length) {
    <tr>
        <td>No Data Found</td>
    </tr>
    }

    @for (dataElement of inputDataSource; track dataElement) {
    <tr class="data-grid-content">
        @for (contentElement of inputHeaderConfig; track contentElement) {
        <td>{{dataElement[contentElement.value]}}</td>
        }
    </tr>
    }
</table>