<div class="header">
  <h2>Chatty Matty</h2>
  <div class="navigation">
    @if(isUserLoggedIn) {
    <a href="/users">
      <span>Users</span>
    </a>
    <a href="/create-channel">
      <span>Create Channels</span>
    </a>
    }
  </div>
</div>

@if (isUserLoggedIn) {
<div class="container">
  <div class="sidebar">
    <div class="list">
      <channel-list />
    </div>
    <div class="list">
      <friend-list />
    </div>
  </div>
  <div class="wrapper">
    <router-outlet />
  </div>
</div>
}

@if(!isUserLoggedIn) {
<create-user />
}